# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/

# production
build/
dist/

# testing
coverage/
.vitest/
test-results/
playwright-report/

# turbo
.turbo/

# storybook
storybook-static/
*storybook.log

# env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# deployment
.vercel/
