@import 'tailwindcss';
@import './tokens.css';

:root {
  --background: var(--background-default);
  --foreground: var(--text-primary);
}

@theme {
  --color-background: var(--background-default);
  --color-foreground: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-default);
    --foreground: var(--text-primary);
  }
}

body {
  background: var(--background-default);
  color: var(--text-primary);
  font-family: var(--font-rubik);
}
